<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trabalhocs">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".View.GerenciarValoresGasto"
            android:label="@string/title_activity_gerenciar_valoresgasto"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".View.GerenciarGasto"
            android:label="@string/title_activity_gerenciar_gasto"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.GerenciarDestinos"
            android:label="@string/title_activity_gerenciar_destinos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.GerenciarValores"
            android:label="@string/title_activity_gerenciar_valores"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.ListarFontesAdd"
            android:label="@string/title_activity_listar_fontes_add"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.GerenciarReceita"
            android:label="@string/title_activity_gerenciar_receita"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.GerenciarGrupo"
            android:label="@string/title_activity_gerenciargrupo"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>